# DataSet Airbnb #

### Installation des bibliothèques nécessaires ###

In [1]:
#pip install scipy
#pip install scikit-learn
#pip install seaborn

In [2]:
import pandas as pd
import numpy as np

In [3]:
# DataFrame.iloc[]

In [4]:
paris_listings = pd.read_csv('paris_airbnb.csv')
paris_listings.iloc[0]

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                 1.0
latitude                       48.83349
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                            0.0
bathrooms                           1.0
beds                                0.0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

### Distance Euclidienne ###

In [5]:
# numpy.abs()

In [6]:
our_acc_value = 3 #variable pour le nb de personne que peut accueillir notre logement

first_living_space_value = paris_listings.iloc[0]['accommodates'] #on prend la première ligne et la valeur de la colonne accomodates

first_distance = np.abs(first_living_space_value - our_acc_value) #methode .abs de numpy - Calculate the absolute value element-wise
print(first_distance)

1

### Calculer la distance pour toutes les observations ###

In [7]:
# df['accommodates'].apply(lambda x: x + 2) #methode lambda pour assigner +2 à chaque valeur de x

In [8]:
new_listing = 3
paris_listings['distance'] = paris_listings['accommodates'].apply(lambda x: np.abs(x - new_listing)) #on créé une nouvelle colonne distance avec la formule
print(paris_listings['distance'].value_counts()) #.value_counts() Return a Series containing counts of unique values

distance
1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: count, dtype: int64

In [9]:
print(paris_listings['distance'])

0       1
1       1
2       1
3       0
4       1
       ..
7995    1
7996    1
7997    1
7998    1
7999    3
Name: distance, Length: 8000, dtype: int64

### Randomisation et triage ###

In [10]:
paris_listings[paris_listings['distance'] == 0]['accommodates']

3       3
7       3
13      3
14      3
18      3
       ..
7907    3
7938    3
7948    3
7958    3
7989    3
Name: accommodates, Length: 878, dtype: int64

In [11]:
# np.random.permutation(len(paris_listings))

In [17]:
np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))] #on randomise l'ensemble des données
paris_listings = paris_listings.sort_values('distance') #on tri sur la colonne distance
paris_listings.iloc[0:10]['price'] #on affiche les 10 premières valeurs de la colonne price

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

### Prix moyen ###

In [19]:
# mean() fonction pour calculer la moyenne

In [21]:
stripped_commas = paris_listings['price'].str.replace(',', '') #ici on remplace les , par rien
stripped_dollars = stripped_commas.str.replace('$', '') #ici on remplace les $ par rien
paris_listings['price'] = stripped_dollars.astype('float') #on transforme le type de la colonne price en Float
mean_price = paris_listings.iloc[0:5]['price'].mean() #on calcule la moyenne des prix sur les 5 premières colonnes
print(mean_price)

72.6